[submodule "lib/flanterm"]
	path = lib/flanterm
	url = git@github.com:mintsuki/flanterm.git
[submodule "lib/TomatoDotNet"]
	path = lib/TomatoDotNet
	url = git@github.com:TomatOrg/TomatoDotNet.git
[submodule "lib/openlibm"]
	path = lib/openlibm
	url = git@github.com:JuliaMath/openlibm.git
