[submodule "limine"]
	path = limine
	url = git@github.com:limine-bootloader/limine.git
	shallow = true
[submodule "lib/zydis"]
	path = lib/zydis
	url = git@github.com:zyantific/zydis.git
[submodule "lib/tinydotnet"]
	path = lib/tinydotnet
	url = git@github.com:TomatOrg/tinydotnet.git
